body, html{

    background: linear-gradient(72deg, #4280E1 1%, #3DECB1 72%);
}

#cabecalho{
    display: flex;
}

#conteudo{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 10%;
}

#cabecalho{
    justify-content: space-between;
    display: flex;
}

#sair{
    width: 5rem;
    height: 2rem;
    border-radius: 5px;
    text-decoration: none;
    border-style: none;
    font-size: 15px;
}

#nome_sala{
    width: 12rem;
    height: 2rem;
    border-style: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
}

#criar{
    width: 5rem;
    border-radius: 5px;
    border-style: none;
    font-size: 15px;
    padding: 5px;
    height: 2.5rem;
    background-color:cadetblue;
}
#output{
    padding: 10px; width:80%;background: rgba(255,255,255,0.8);border-radius: 15px;
}